.contact__background {
    background: #e34e8b;
    opacity: 0.9;
    z-index: 1;
    top: 0;
    color: #fff;
    font-weight: 200;
    padding: 60px;
    margin-bottom: 4vh;
}

.contact__background h1 {
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    margin-top: 6vh;
}

.form__field-1 {
    display: flex;
}

.form__input-1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form__input-1 label {
    margin-bottom: 2vh;
    font-weight: 600;
}

.form__input-1 input{
    width: 43vw;
    padding: 12px;
    border: none;
}


.form__field-2 {
    display: flex;
    flex-direction: column;
}

.form__input-2 {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form__input-2 label {
    margin-bottom: 2vh;
    font-weight: 600;
}

.form__input-2 input{
    width: 89.5vw;
    padding: 12px;
    border: none;
}

.form__input-2 textarea {
    height: 24vh;
    border: none;
}

.contact__btn {
    width: 10vw;
    height: 6vh;
    background: #fff;
    color: #dd226e;
    border: none;
    font-weight: bold;
    margin-left: -79.5vw;
    margin-top: 2vh;
    cursor: pointer;
}

@media (min-width: 200px) and (max-width: 600px) {
    .contact__background {
        padding: 30px;
    }

    .contact__background h1 {
        font-size: 33px;
    }

    .form__field-1 {
        display: flex;
        flex-direction: column;
    }

    .form__input-1 input {
        width: 77vw;
    }

    .form__input-2 input {
        width: 77vw;
    }

    .contact__btn {
        width: 30vw;
        height: 5vh;
        margin-left: -47vw;
        margin-top: 2vh;
    }
}


.contact-form {
    /* padding-left: 40px;
    padding-right: 40px; */
    font-family: 'Quicksand', sans-serif;
    opacity: 0.9;
    z-index: 1;
    top: 0;  
  }
  
  .contact-form input {
    border: 0;
    outline: 0;
    height: 35px;
    margin-bottom: 2vh;
  }
  
  .contact-form textarea {
    border: 0;
    outline: 0;
    height: 24vh;
  }
  
  .contact-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .contact-nameField {
    display: flex;
    flex-direction: column;
    flex: 0.47;
  }
  
  .contact-label {
    margin-bottom: 2vh;
    font-weight: 600;
    color: white;
  }
  
  .contact-NameInput1 {
    display: flex;
  }
  .contact-NameInput2 {
    display: flex;
  }
  
  .submit-btn {
    margin-top: 2vh;
    width: 100px;
    height: 35px;
    color: #e34e8b;
    background-color: #fff;
    border: 0;
  }
  
  @media (min-width: 200px) and (max-width: 600px) {
    .contact-form {
      /* padding-left: 20px;
      padding-right: 20px; */
    }
  
    .contact-name {
      flex-direction: column;
    }
    .contact-nameField {
      width: 100%;
    }
  }