.success__background {
    background: #e04b89;
    opacity: 0.9;
    /* z-index: 1; */
    top: 0;
    color: #fff;
    font-weight: 200;
    padding: 50px;
    margin-top: 27vh;
    margin-bottom: 15vh;
}

.success__background h1 {
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;

}

.success__background p {
    color: #fff;
    font-weight: 500;
}

.index_success a {
    color: #fff;
    font-weight:500;
}

.success-btn {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 15px;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
}

@media (min-width: 200px) and (max-width: 500px) {
    .success__background {
        padding: 30px;
    }

    .about__background {
        padding: 30px;
    }

    .about__background h1 {
        font-size: 33px;
    }

    .about__desc p {
        font-size: 15px;
    }
}