.h1 {
    /* font-size: 17px; */
    /* font-weight: 600; */
    font-size: 23px;
    margin-top: 26%;
    margin-left: -24%;
    /* text-align: center;
    margin-top: 12%;
    margin-left: -20%; */
    /* margin-top: 3%;
    padding: 5px; */
  }
  
  @media screen and (max-width: 1168px) {
    .h1 {
      /* font-weight: 600; */
      margin-top: 20%;
      margin-left: 15%;
      font-size: 15px;
      /* font-size: 22px;
      margin-top: 0%;
      margin-left: -120%; */
    }
  }